.wave-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Full width */
  overflow: hidden; /* Hide overflow */
}

.wave {
  position: relative;
  width: 200%; /* Wave is larger than container */
  animation: moveWave 15s linear infinite; /* Move the wave */
}

@keyframes moveWave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.draggableIcon {
  position: absolute;
  z-index: 10; /* Ensure the logos are above the wave */
  cursor: grab;
  /* animation: moveLogo 15s linear infinite;  */
}

/* Logo moves along with the wave */
@keyframes moveLogo {
  0% {
    transform: translateX(100vw) translateY(0vw);
  }
  25% {
    transform: translateX(75vw) translateY(-0.5vw);
  }
  50% {
    transform: translateX(50vw) translateY(0vw);
  }
  75% {
    transform: translateX(25vw) translateY(-1vw);   
  }
  100% {
    transform: translateX(0vw) translateY(0vw);
  }
}
